<tr id="<%= dom_id seller %>">
  <td><%= seller.name %></td>
  <td><%= seller.address %></td>
  <td><%= link_to "Edit this seller", edit_seller_path(seller), class: "btn btn-outline-primary" %></td>
</tr>
