
<div class="row">
  <div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Code Challenge</h6>
      </div>
      <div class="card-body">
        <div class="chart-area p-5">
          <h1>Code Challenge</h1>
          <p>Este ejercicio es una oportunidad para que escribas un poco de tu código más limpio que nos muestre cómo solucionar problemas triviales de un ingeniero.</p>
          <ul>
            <li>Escribe el código como si fuera a producción</li>
            <li>Asume que tu código pasará por un extenso proceso de *code review*</li>
            <li>Puedes apoyarte en cualquier referencia que desees</li>
            <li>Asegurate de dejar instrucciones claras de cómo ejecutar tu código como si fuera a desplegarse en producción</li>
            <li>La aplicación debe ser fácilmente instalable en Linux o Mac OS X.</li>
            <li>No debe requerir ningún software de licencia de pago.</li>
          </ul>
          <h1>Problema</h1>
          <p>La compañía en la que trabajas recientemente adquirió una nueva empresa y debe importar toda su información. Desafortunadamente, la empresa adquirida nunca guardó sus datos en una base de datos y siempre utilizó archivos planos. Crea una aplicación web que siga los siguientes requerimientos:</p>
          <ol>
            <li>Acepta (vía formulario) un archivo delimitado por tabs, las siguientes columnas: comprador, descripción del ítem, precio del ítem, total de ítems, dirección de vendedor, vendedor. Asume que las columnas siempre estarán en ese orden, que siempre habrá datos en todas las columnas y que siempre habrá una columna encabezado. Se te adjunta un archivo llamado example.tab.(<a href="https://docs.google.com/spreadsheets/d/1c8kteF2UHB7hTJx5fSUY9PA4d5oO2rL687jdZmOvfwM/edit?usp=sharing">https://docs.google.com/spreadsheets/d/1w3Phjfqeq0gqlNLnwKWUUWsxJnAdDoVRS8PeImAUM0E/edit?usp=sharing</a>)</li>
            <li>Te recomiendo descargarlo para que tengas el formato real.</li>
            <li>Analiza el archivo, normaliza los datos y guarda la información en una base de datos relacional.</li>
            <li>Después de subir el archivo, muestra el total de ingresos que estaban representados en el mismo.</li>
          </ol>
          <h1>Deseable</h1>
          <ol>
            <li>La aplicación tiene su suite de pruebas.</li>
            <li>La aplicación debe estar basada en Ruby on Rails.</li>
            <li>El tiempo de desarrollo aproximado debe ser no mayor a 8 horas.</li>
          </ol>
          <p>La aplicación no necesita:</p>
          <ol>
            <li>Manejar la autenticación de usuarios (Bonus point si lo hace, extra bonus point si lo hace mediante OpenID).</li>
            <li>Ser estéticamente agradable.</li>
          </ol>
          <h1>Evaluación</h1>
          <ol>
            <li>¿Tu aplicación cumplió con los requerimientos?</li>
            <li>¿se documentó cómo instalar la aplicación y cómo correrla?</li>
            <li>¿Seguiste las instrucciones de envió?</li>
            <li>¿Se consideró una solución pensada en entornos productivos? Puedes incluir información en tu README.</li>
            <li>¿Se hicieron commits en diferentes ramas en el repositorio?</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
