<tr id="<%= dom_id product %>">
  <td><%= product.description %></td>
  <td><%= number_to_currency(product.price_per_piece) %></td>
  <td><%= link_to "Edit this product", edit_product_path(product), class: "btn btn-outline-primary" %> </td>
</tr>
